<!DOCTYPE html>
<html>
<head>
    <title>News Articles QA</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <div class="titlebox">
        <h1>NewsGPT</h1>
        <p>A ChatGPT based retrieval-augmented QA system</p>
    </div>    <div class="textbox">
        <p>
            This is an enhanced version of ChatGPT with access to a bank of news articles. It retrieves passages from 
            the articles and uses them to answer questions or perform tasks.
            <br>
            The querying system is based on <a href='https://github.com/jerryjliu/llama_index' target='_blank'>llama_index</a> and the app is written in Python using Flask.
            <br>
            The repository for this project can be found <a href='https://github.com/andrecharneca/news-articles-chatbot'target='_blank'>here</a>.
        </p>
    </div>
    <div class="container">
        <div class="input-container">
            <input type="text" id="user-input" placeholder="Ask a question...">
            <button id="submit-button">Submit</button>
        </div>
        <div id="response-container">
            <div id="response"></div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer-content">
            <div class="footer-links">
                <a href="https://www.linkedin.com/in/charneca/" target="_blank" class="logo-link">
                    <img src="https://cdn.icon-icons.com/icons2/2201/PNG/512/linkedin_logo_square_icon_134016.png" alt="LinkedIn Logo" width="30" height="30">
                    <span>LinkedIn</span>
                </a>
                <a href="https://github.com/andrecharneca" target="_blank" class="logo-link">
                    <img src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="GitHub Logo" width="30" height="30">
                    <span>GitHub</span>
                </a>
            </div>
            <div class="footer-info" style="text-align: right;">
                <span>André Charneca</span>
                <br>
                <span>Cyber-Defence Campus</span>
                <br>
                <span>2023</span>
            </div>
        </div>
    </footer>


    <script>
        $(document).ready(function() {
            $("#submit-button").on("click", function() {
                var user_input = $("#user-input").val();

                $.ajax({
                    type: "POST",
                    url: "/get_response",
                    data: { user_input: user_input },
                    beforeSend: function() {
                        showProcessingText();
                    },
                    success: function(response) {
                        var bot_response = response;
                        var formatted_response = marked.parse(bot_response);
                        displayResponse(formatted_response);
                    },

                });
            });

            function showProcessingText() {
                $("#response").text("Processing...");
            }
            function displayResponse(response) {
                $("#response").html(response);
            }
        });

        function showLoadingIcon() {
            $("#response").html('<i class="fas fa-spinner fa-spin"></i>');
        }

        function hideLoadingIcon() {
            $("#response").find('.fa-spinner').remove();
        }

        function displayResponse(response) {
            $("#response").html(response);
        }
    </script>
</body>
</html>
